@import url('https://fonts.googleapis.com/css2?family=Sixtyfour&family=Ubuntu+Mono&display=swap');

body {
    text-align: center; /* Centrer horizontalement le contenu du body */
    background: url(image.png);
    background-attachment: fixed;
    background-size: cover;
    margin:0;
    font-family: 'Ubuntu Mono', monospace;
}

/* Styles par défaut pour tous les appareils */
#chat-container {
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.6) 15%, rgba(255,255,255,0) 100%);
    padding: 0 1em;
    width: 24em;
}

.container {
    display: inline-block; /* Permet d'aligner à gauche tout en étant centré horizontalement */
    text-align: left; /* Aligner à gauche à l'intérieur de la boîte */
}

#chat-messages {
    line-height: 1.5;
}

.spacer {
    margin: 0.0em 0;
}

form {
    position: sticky;
    margin-top: 1em;
    bottom: 1em;
}

input[type=text] {
    width: 70%;
    margin: 2em auto auto;
    height: 2.5em;
    font-family: 'Ubuntu Mono', monospace;
}

button[type=submit] {
    margin: auto;
    width: 25%;
    height: 3em;
}

#ReloadButton {
    position: fixed;
    top: 1em;
    right: 1em;
}

/* Styles spécifiques aux écrans de taille maximale de 600 pixels (téléphones) */
@media only screen and (max-width: 600px) {
    #chat-container {
        background: rgba(211, 211, 211, 0.01) url(image.png); /* Changer la couleur de fond avec opacité */
        background-attachment: fixed;
        padding: 0.5em; /* Changer la valeur du padding pour les petits écrans */
    }

    body {
        background: lightgray;
        color: #000; /* Changer la couleur du texte pour les petits écrans */
    }
}

.sent-message {
    margin: 1em 0;
    background-color: white;
    padding: 0.5em;
    width: fit-content;
    border-radius: 10px;
    word-break: break-all; /* Add this line to cut long words */
}

.sent-message p {
    width: fit-content;
    margin: 0 0 1em 0;
}

.sent-message .date {
    font-weight: bold;
    font-family: 'Sixtyfour', sans-serif;
    font-size: .5em;
}